body {
    font-family: Arial;
    background: #F0F0F0;
}

h1 {
    color:rgb(99, 166, 189);
}

header, div#menu, div#content {
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
}

header {
    background-color: white;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

div#menu {
    height: 20px;
    background-color: #333;
}

div#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

div#content {
    background-color: white;
}

@media screen and (max-width: 1000px) {
    header, div#menu, div#content {
        width: 100%;
        margin: 10px 0;
    }
  }

  /* sessions */
  p.session {
    margin: 0;
    margin-bottom: 1px;

    height: 30px;
    line-height: 30px;
    padding: 10px;

    border: 1px solid black;
    background-color: #F0F0F0;
}

p.session:hover {
    background-color: lightblue;
}

p.session span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

div#map, div#plotly {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}