{% extends "base.html" %}
{% block title %}Sessions{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='sessions.css')}}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='loadgpx.js')}}"></script>
    <script>
        var home_position = { lat: {{config.home.lat}}, lng: {{config.home.lng}} };
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='sessions.js')}}"></script>
    <script
        async defer
        type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{config.gmaps_api_key}}&callback=initMap">
    </script>
{% endblock %}
{% block content %}
    <div id="map">map</div>
    <div id="output"></div>
{% endblock %}
